.red-mega {
    color: var(--red-mega);
}

.blue-mega {
    color: var(--blue-mega);
}

.white-mega {
    color: var(--white-mega);
}

.bg-red-mega {

    background-color: var(--red-mega);

}

.bg-blue-mega {
    background-color: var(--blue-mega);
}